.navbar-brand,
#top-nav .link-underline {
  font-size: 11px !important;
}
.logout-link {
  cursor: pointer;
}
 
@media (max-width: 992px) {
  .border-end {
    --bs-border-width: 0px !important;
  }
}
#top-nav {
  padding: 4px 0;
}
.products__carousel img {
  max-height: 200px !important;
  /* min-height: 100px !important; */
}
.site-logo img {
  max-width: 196px;
  max-height: 95px;
}
@media (max-width: 991px) {
  .site-logo img {
    max-height: 60px;
    /* max-width: 100%; */
  }
}
@media (max-width: 576px) {
  .site-logo img {
    /* max-height: 60px; */
    max-width: 90px;
  }
  .navbar-toggler {
    padding: 5px;
  }
  .navbar-toggler-icon {
    width: 16px;
    height: 16px;
  }
}
.bg-primary {
  background-color: rgba(92 106 196) !important;
}
.menu-label {
  font-size: 8px;
}
.navbar__phone {
  width: fit-content;
  text-align: center;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.fa-angle-down {
  font-size: 12px;
}
.nav-link {
  font-size: 14px;
}
 
@media (max-width: 1200px) {
  .offcanvas-body .nav-link {
    color: white !important;
  }
}
@media (max-width: 300px) {
  .navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
.nav-link__offcanvas:hover,
.active {
  color: rgba(var(--bs-success-rgb)) !important;
  font-weight: bold !important;
  padding-left: 10px;
}
.dropdown-toggle-split {
  border-left: 1px solid #454545 !important;
}
.navlink__home:hover .nav__home,
.navlink__shop:hover .nav__shop,
.navlink__product:hover .nav__product,
.navlink__pages:hover .nav__pages {
  display: flex !important;
}
.nav__home {
  max-height: 80vh !important;
  font-size: 12px;
}
.nav__home,
.nav__shop,
.nav__product {
  left: 50%;
  transform: translateX(-50%);
}
.nav__pages {
  width: fit-content;
}
.nav__shop-image {
  background: no-repeat top center / cover;
  height: 250px;
}
.nav__shop,
.nav__product {
  width: 750px;
}
.navbar :where(.fa-magnifying-glass, .fa-heart, .fa-cart-shopping) {
  font-size: 18px !important;
}
.product__quantity input:focus-visible,
.product__quantity input:focus,
.product__quantity input:hover {
  border: none !important;
  padding: 6px !important;
  outline: none !important;
}
:focus-visible {
  outline: none !important;
}
.search-input:focus {
  box-shadow: none !important;
}
.search-input::placeholder,
.search-input:hover {
  color: #fff !important;
}
